<!-- <html>
    <head>
        <title>
            <%=title%>

        </title>
        

    </head>
    <body>
        <%- include('_header');%> -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>Codeial / Profile</h1>
        <!-- render the user name and email on his profile page -->
        <p><%= user.name%></p>
        <p><%= user.email%></p>
        <!-- <%- include('_footer');%>
    </body>
</html> -->